.teams-page {
  min-height: 100vh;
  background-color: #f9f9f9;
}
.team-members-layout {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 250px;
}
