.home-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.layout-row {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}
.home-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* prevents full page scrolling */
}

.content-layout {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-content-area {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0px 20px 5px 20px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  overflow: hidden;
}
.main-content-header-title {
  margin: 0;
}
.main-content {
  height: 250px;
  margin: 0px;
  overflow-y: auto;
}

.add-employee-button {
  background-color: #1976d2;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  border-width: 0px;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.add-employee-button:hover {
  background-color: #1565c0;
}
