.home-page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.content-layout {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}
.main-content-area {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px 20px;
  height: auto;
}
.main-content-header-title {
  margin: 0;
}
.add-employee-button {
  background-color: #1976d2;
  color: #ffffff;
  height: 30px;
  min-width: 100px;
  border-width: 0px;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.add-employee-button:hover {
  background-color: #1565c0;
}
