.sidebar-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
}
.sidebar-element {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}
.sidebar-item {
  font-size: 16px;
  font-family: "Roboto";
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #e0e0e0;
}
.sidebar-item:hover {
  background-color: #f0f0f0;
}
.sidebar-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #333333;
}
.sidebar-item-active {
  background-color: #d0d0d0;
  font-weight: bold;
}
