.add-team-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f7f2;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-team-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.form-field {
  margin-bottom: 10px;
}
.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.save-team-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.close-add-team-button {
  background-color: #f44336;
  color: white;
  background-color: #ccc;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.close-add-team-button:hover,
.save-team-button:hover {
  opacity: 0.9;
}
.add-team-buttons-container {
  display: flex;
  align-items: center;

  gap: 10px;
}
