* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
Link {
  text-decoration: none !important;
}
button {
  cursor: pointer;
  padding: 12px 20px;
}
